* {
    background:                     #282a36ff;
    background-alt:                 #4D4D4Dff;
    foreground:                     #FFFFFFFF;
    border:               			@background;
    border-alt:               		@background;
    selected:               		#FF5555ff;
    urgent:                         #FF5555ff;
}